/* Базовые стили */
:host {
  display: block;
  background: black;
  border: 2px solid grey;
  border-radius: 10px;
  cursor: pointer;
  box-sizing: border-box;
  width: 200px; /* $node-width */
  height: auto;
  padding-bottom: 6px;
  position: relative;
  user-select: none;
}

/* Стили при наведении */
:host:hover {
  background: #333;
}

/* Стили при выборе */
:host.selected {
  border-color: red;
}

/* Стили заголовка */
.title {
  color: white;
  font-family: sans-serif;
  font-size: 18px;
  padding: 8px;
}

/* Стили выходных соединений */
.output {
  text-align: right;
}

.output-socket {
  text-align: right;
  margin-right: -1px;
  display: inline-block;
}

.output-title {
  vertical-align: middle;
  color: white;
  display: inline-block;
  font-family: sans-serif;
  font-size: 14px;
  margin: 6px; /* $socket-margin */
  line-height: 16px; /* $socket-size */
}

/* Стили входных соединений */
.input {
  text-align: left;
}

.input-socket {
  text-align: left;
  margin-left: -1px;
  display: inline-block;
}

.input-title {
  vertical-align: middle;
  color: white;
  display: inline-block;
  font-family: sans-serif;
  font-size: 14px;
  margin: 6px; /* $socket-margin */
  line-height: 16px; /* $socket-size */
}

/* Стили управляющих элементов */
.input-control {
  z-index: 1;
  width: calc(100% - 38px); /* 100% - ($socket-size + 2*$socket-margin) */
  vertical-align: middle;
  display: inline-block;
}

.control {
  padding: 6px 14px 6px 14px; /* $socket-margin math.div($socket-size, 2) + $socket-margin */
}
