<div class="container">
    <div class="menu-top">Меню сверху</div>
    <div class="content">
      <div class="menu-left">
        Меню слева
        <button (click)="addOnClick()">add new Node</button>
        <button (click)="addControltoSelectNode()">controlInSelect </button>
        <button (click)="addRemoveBtn()">DeleteAdd</button>
        <button (click)="addImage()">addImage</button>
        <button (click)="addText()">add TextBox</button>

        
        <!-- <button (click)="addImg()">addImg</button> -->
        <app-upload-img></app-upload-img>
        <!-- <app-image-component></app-image-component> -->
        <app-upload-text></app-upload-text>
      </div>
      <div class="rete-container">
        <app-test></app-test>
      </div>
    </div>
    <div class="footer">Футер</div>
  </div>
  